@page "/servers/server{ServerId:int}"

<h3>Edit Server</h3>
<br />
<br />


@if (server != null)
{
	@* <p>Server ID: @server.ServerId</p>
	<p>Server Name: @server.Name</p>
	<p>
		Server Status: @if (server.IsOnline)
		{
			<span style="color:green">online</span>
		}
		else
		{
			<span style="color:red">offline</span>
		}
	
	</p>
	<p>City: @server.City</p>
	<br />
	<br />*@

	<EditForm Model="@server">
		<div class="row mb-3">
			<div class="col-2">
				<label class="col-form-label">Server ID</label>
			</div>
			<div class="col-6">
				<InputNumber @bind-Value="server.ServerId" class="form-control"></InputNumber>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-2">
				<label class="col-form-label">Name</label>
			</div>
			<div class="col-6">
				<InputText @bind-Value="server.Name" class="form-control"></InputText>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-2">
				<label class="col-form-label">City</label>
			</div>
			<div class="col-6">
				<InputText @bind-Value="server.City" class="form-control"></InputText>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-2">
				<label class="col-form-label">Server Status</label>
			</div>
			<div class="col-6">
				<InputCheckbox @bind-Value="server.IsOnline" class="form-check-input"></InputCheckbox>
			</div>
		</div>

	</EditForm>
	<br />
	<br />
	<a href="/servers" class="btn btn-primary">Back</a>
}
else
{
	<p>Server not found</p>
}

@code {
	[Parameter]
	public int ServerId { get; set; }

	private Server? server;

	protected override void OnParametersSet()
	{
		server = ServersRepository.GetServerById(ServerId);
	}
}