@page "/servers"
@rendermode InteractiveServer

@inject NavigationManager Navigation

<h3>A list of our Servers</h3>
<br />
<div class="container-fluid text-center">
	<div class="row w-50">
		@foreach (var city in cities)
		{
			<div class="col">
				<div class="card">
					<img src="@($"/images/{city}.png")" class="card-img-top" alt="...">
					<div class="card-body">
						@* <h5 class="card-title">@city</h5> *@
					</div>
				</div>
			</div>
		}
	</div>
</div>
<br />
<br />
<button @onclick='() => Navigation.NavigateTo("/servers/addserver")' class="btn btn-primary">Add a new Server</button>
<br />
<br />
<ServerControl @rendermode="InteractiveServer"/>
<br />
<br />
<ul>
	@foreach (var server in servers)
	{
		<li>
			Der Server @server.Name ist <span style="color:@(server.IsOnline ? "green":"red")">@(server.IsOnline ? "online" : "offline")</span>
			<text>&nbsp</text>
			<a href=@($"/servers/server{server.ServerId}") class="btn btn-link">Edit</a>
		</li>
	}
</ul>

@code 
{
	private List<Server> servers = ServersRepository.GetServers();
	private List<string> cities = CitiesRepository.GetCities();

}